<div class = "header">
  <h1>Tunnel to Knowledge</h1>
</div>

<div class="content">
  <h2>Welcome!</h2>

  <div id="login">
    <h4>Sign In!</h4>
    <form method="" action="/decks">
      <input type="text" name="user_name" placeholder="user name">
      <input type="text" name="password" placeholder="password">
      <input type="submit" value="login">
    </form>
  </div>

  <div id="signup">
    <h4>New User Sign Up!</h4>
    <form method="" action="/decks">
      <input type="text" name="user_name" placeholder="user name">
      <input type="text" name="email" placeholder="email">
      <input type="text" name="password" placeholder="enter password">
      <input type="text" name="password_confirmation" placeholder="confirm password">
      <input type="submit" value="create user">
    </form>
  </div>

</div>
