<div class = "header">
  <h1>Tunnel to Knowledge</h1>
</div>

<div class = "container">

  <h1> ****** STAT PAGE!!!!!!***** </h1>
  <h1> You are so smart. S-M-R-T!! </h1>
  <form method='GET' action='/decks'>
      <input type="submit" value="Go to Decks!">
  </form>
</div>
